@font-face{
    font-family: 'Odin';
    src: url(../fonts/Norse-Bold.otf);
}

a:hover, a:visited, a:link, a:active
{
    color: inherit;
}

body{
    display: flex;
    flex-flow: row;
    background-color: #f9fafb;
    justify-content: center;
    overflow: scroll;
    height: 80vh;
}

p{
    margin: 0;
}

/* left bar */

.leftBar{
    width: 450px;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    font-size: 48px;
    color: white;
    flex: 0 0 auto;
    display: flex;
    flex-flow:  column;
    justify-content: space-between;
}

.logoBanner{
    position: relative;
    top: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 2em;
    background: rgba(0, 0, 0, 0.4);    
    font-family: Odin;
    font-size: 1.5em;
}
.logoBanner>img{
    height: 2em;
}

.logoFooter{
    font-size: .25em;
    text-align: center;
}

/*right bar*/

.rightBar{
display: flex;
flex-flow: column wrap;
padding-top: 100px;
width: max(500px, 40vw);

font-family: Arial, Helvetica, sans-serif;


--shadowborder: 0px 5px 5px lightgray;
--leftpadding: 50px;
--spacing: 40px;

}

.topMessage{
    padding-left: var(--leftpadding);
    font-size: 1.2rem;
}

.topMessage>p:nth-child(2){
    
    margin-bottom: 1rem;
}



.formContainer{
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);      
}

.formContainer h1{
    font-size: 1.5rem;
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 5px;
}


.inputContainer{
    display: flex;
    flex-flow: column;
    gap: 10px;
    box-shadow: var(--shadowborder);
    margin-bottom: var(--spacing);
    padding: 40px;
    padding-top: 10px;
    background-color: #ffffff;
}

.formRow{
    display: flex;
    flex-flow: row;
    margin: 4px;
    padding: 1px;
    gap: 2vw;
}

.inputContainer label {
    font-size: .7rem;
    font-weight: 550;
    letter-spacing: 2px;
}

.inputContainer input,
.intputContainer input:required{
    border: #E5E7EB solid 2px;
    border-radius: 4px;
    height: 1.5em;    
}

.formInput{
    display: flex;
    flex-flow: column;
}

.bottomForm{
    display: flex;
    flex-flow: column;
    padding-left: var(--leftpadding);
    gap: var(--spacing);
}

.bottomForm button{
    background: #596D48;
    color: #ffffff;
    box-shadow: var(--shadowborder);
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 8px;  
    font-weight: 500; 
    font-size: 1em;
}

.bottomForm a{
    color: #596D48;
}
